<form (ngSubmit)="findRoutes(routeForm)" #routeForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="departureCity">Departure City</label>
      <input type="text" class="form-control" name="departureCity" [ngModel] required>
    </div>
    <div class="form-group col-md-2">
      <label for="arrivalCity">Arrival City</label>
      <input type="text" class="form-control" name="arrivalCity" [ngModel] required>
    </div>
    <div class="form-group col-md-3">
      <label for="departureTime">Departure Time</label>
      <input type="datetime-local" class="form-control" name="departureTime" [ngModel] #departureTime="ngModel">
    </div>
    <div class="form-group col-md-3">
      <label for="arrivalTime">Arrival Time</label>
      <input type="datetime-local" class="form-control" name="arrivalTime" [ngModel] #arrivalTime="ngModel">
    </div>
    <div class="form-group col-md-2">
      <label for="tickets">Tickets</label>
      <input type="number" class="form-control" name="tickets" [ngModel] required>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!routeForm.valid || (departureTime.pristine === arrivalTime.pristine)">Find Routes</button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="clear(routeForm)">Clear Form</button>
</form>
<br>
<div class="card-group">
  <route-card *ngFor="let route of searchResultRoutes" [route]="route" class="col-md-4"></route-card>
</div>
