<ul>
  <li *ngFor="let route of routes">
    {{ route.train.locomotive }}, From: {{ route.departureCity }} at {{ route.departureTime }}, To: {{ route.arrivalCity }} at {{ route.arrivalTime }}, {{ route.availableSeats }}
  </li>
</ul>
<form (ngSubmit)="findRoutes(routeForm)" #routeForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="departureCity">Departure City</label>
      <input type="text" class="form-control" id="departureCity" [ngModel] required>
    </div>
    <div class="form-group col-md-2">
      <label for="arrivalCity">Arrival City</label>
      <input type="text" class="form-control" name="arrivalCity" [ngModel] required>
    </div>
    <div class="form-group col-md-3">
      <div class="form-row">
          <input name="selectTime" checked="checked" type="radio" value="Departure"/>
          <label for="departureTime">Departure Time</label>
          <input name="selectTime" type="radio" value="Arrival"/>
          <label for="arrivalTime">Arrival Time</label>
        </div>
      <input type="datetime-local" class="form-control" id="dTime"[ngModel] #departureTime="ngModel">
    </div>
    <div class="form-group col-md-2">
      <label for="tickets">Tickets</label>
      <input type="number" class="form-control" name="tickets" [ngModel] required>
    </div>
  </div>


  <button
    type="submit"
    class="btn btn-primary"
    
    (click)="findRoutes()">Find Routes</button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="clear(routeForm)">Clear Form</button>
</form>
<ul>
  <li *ngFor="let route of searchResultRoutes">
    {{ route.train.locomotive }}, From: {{ route.departureCity }} at {{ route.departureTime }}, To: {{ route.arrivalCity }} at {{ route.arrivalTime }}
  </li>
</ul>
