<form (ngSubmit)="changePassword(passwordForm)" #passwordForm="ngForm">
  <div class="form-group">
    <label for="oldPassword">Old password</label>
    <input type="password" class="form-control" name="oldPassword" [ngModel] required />
  </div>
  <div class="form-group">
    <label for="newPassword">New password</label>
    <input
      type="password"
      class="form-control"
      name="newPassword"
      required
      minlength="4"
      [ngModel]
      #newPassword="ngModel" />
  </div>
  <div *ngIf="newPassword.invalid && newPassword.dirty"
        class="alert alert-danger">
      Password must be at least 4 characters long.
  </div>
  <div class="form-group">
    <label for="newPasswordConfirm">New password again</label>
    <input type="password" class="form-control" name="newPasswordConfirm" [ngModel] required />
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!passwordForm.valid">Change password</button>
  </div>
</form>
